<!DOCTYPE html>
<html lang="en">
    <include file="Public/all"/>
    
  <include file="Public/head"/>
    


  <include file="Public/left"/>
    

    
    <div class="content">
        
        <div class="header">
            <div class="stats">
   
</div>

            <h1 class="page-title">后台首页</h1>
        </div>
        
                <ul class="breadcrumb">
            <li class="active"><a >后台首页</a> <span class="divider">/</span></li>
            <li class="active">home</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    

<div class="row-fluid">


    <div class="block">
        <a href="#page-stats" class="block-heading" data-toggle="collapse">各类统计</a>
        <div id="page-stats" class="block-body collapse in">

            <div class="stat-widget-container">
                <div class="stat-widget">
                    <div class="stat-button">
                        <p class="title">{$info1}</p>
                        <p class="detail">商品总数</p>
                    </div>
                </div>

                <div class="stat-widget">
                    <div class="stat-button">
                        <p class="title">{$info2}</p>
                        <p class="detail">用户总数</p>
                    </div>
                </div>

                <div class="stat-widget">
                    <div class="stat-button">
                        <p class="title">{$info3}</p>
                        <p class="detail">用户消息总数</p>
                    </div>
                </div>

                <div class="stat-widget">
                    <div class="stat-button">
                        <p class="title">{$info4}</p>
                        <p class="detail">订单总数</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<include file="Public/lee"/>          
        
    
  </body>
</html>


