<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
    <title>用户注册</title>
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/register.css">  
    <script type="text/javascript" src="__PUBLIC__/js/register.js"></script>  
    <link href="__PUBLIC__/css/admin_login.css" rel="stylesheet" type="text/css" />
    <include file="Public/jscss"/>
    <script src="__PUBLIC__/js/jquery.tools.min.js" type="text/javascript"></script>
</head>
<body style="cursor: auto;">
<include file="Public/top"/>
<form action="" method="post" onsubmit="return validateForm()"> <!-- 当触发提交事件时调用validateForm()方法  -->
    <table border="26" align="center" width="50%">
        <div align="center"><h1>用户注册</h1></div>
        <tr>
            <th align="right">
                <sup><font color="red">*</font></sup>用户名：
            </th>
            <th><input type="text" name="user_name" id="username" class="input_class" onblur="checkUsername(this)" /><span id="username_span">用户名由3-5个字符组成</span></th>					
        </tr>
        
        <tr>
            <th align="right">
                <sup><font color="red">*</font></sup>密码：
            </th>
            <th><input type="password" name="user_password" id="password" class="input_class" onblur="checkPassword(this)" /><span id="password_span">请输入8-12位密码</span></th>					
        </tr>
        
        <tr>
            <th align="right">
                <sup><font color="red">*</font></sup>确认密码：
            </th>
            <th><input type="password" name="user_password2" id="rePassword" class="input_class" onblur="checkRePassword(this)" /><span id="rePassword_span">两次密码不一致</span></th>					
        </tr>
        
        <tr>
            <th align="right">
                <sup><font color="red">*</font></sup>Email：
            </th>
            <th><input type="text" name="user_email" id="Email" class="input_class" onblur="checkEmail(this)" /><span id="Email_span" >格式示例：xxxxxxxx@163.com</span></th>					
        </tr>
        
        <tr>
            <th align="center">
                <sup><font color="red">*</font></sup>真实姓名：
            </th>
            <th><input type="text" name="user_relname" id="realName" class="input_class" onblur="checkName(this)" /><span id="realName_span">由2-5个中文组成</span></th>					
        </tr>
        
        <tr>
            
                    <th width=48%><input type="submit"  class="btn btn-primary"  value="注册" /></th>
                    <th><input type="reset" class="btn btn-primary"  value="重置" /></th>
            
        </tr>
    </table>
</form>

<include file="Public/base"/>
</body>
</html>