
<!DOCTYPE html>
<html lang="en">
    <include file="Public/all"/>
    
  <include file="Public/head"/>
    


  <include file="Public/left"/>
    

    
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">用户管理</h1>
        </div>
        
                <ul class="breadcrumb">
            <li><a href="index.html">用户管理</a> <span class="divider">/</span></li>
            <li><a href="users.html">修改用户</a> <span class="divider">/</span></li>
          
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    

<div class="well">
    
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
    <form id="tab" action="/index.php/Admin/Manager/userdoedit" method="POST"  enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$info[user_id]}">
        <input type="hidden" name="name" value="{$info[user_name]}">
        <input type="hidden" name="password" value="{$info[user_password]}">
        <input type="hidden" name="email" value="{$info[user_email]}">
        <input type="hidden" name="relname" value="{$info[user_relname]}">
      
      
        <label>用户姓名</label>
        <input value="{$info['user_name']}" type="text" name="user_name" class="input-xlarge">
        <label>用户密码</label>
        <input value="{$info['user_password']}" type="text" name="user_password" class="input-xlarge">
        <label>用户邮箱</label>
        <input value="{$info['user_email']}" type="text" name="user_email" class="input-xlarge">
        <label>用户真实姓名</label>
        <input value="{$info['user_relname']}" type="text" name="user_relname" class="input-xlarge">
      
        <div class="btn-toolbar">
         <button class="btn btn-primary"><i class="icon-save"></i> Save</button>
         <div class="btn-group">
         </div>
        </div>
    </form>
      </div>

  </div>

</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Confirmation</h3>
  </div>
  <div class="modal-body">
    
    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
  </div>
</div>


                    
<include file="Public/lee"/>
    
  </body>
</html>


